.button {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        cursor: pointer;
        display: block;
        width:max-content;
        white-space: nowrap;
        padding: 1% 4%;
        font-family: var(--satisfy);
        font-size: 1.5rem;
        background-color: var(--orange);
        border-radius: .8rem;
        border: none;
        box-shadow: 4px 4px 4px 0px rgba(29, 49, 36, 0.25) inset;
        transition: 0.5s all;
        &:hover{
            transform: scale(0.95);
            box-shadow: 6px 6px 6px 0px rgba(29, 49, 36, 0.25) inset;
        }
    }
}
