@use '../../Assets/Styles/mixin.scss' as mixin;

.footer {
    background-color: var(--clair);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    .width {
        width: 80%;

        .flex {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 3% 0;

            h5 {
                font-family: var(--satisfy);
                font-size: 1.8rem;
                font-weight: 100;
                color: var(--textColor);
                padding-bottom: 8%;
            }

            p {
                font-family: var(--poppins);
                font-size: 1.1rem;
                color: var(--textColor);
                line-height: 2.1rem;
            }

            .center {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: var(--textColor);
                    font-size: 1.2rem;
                    margin-right: 5%;
                }
            }

            .follow {
                padding-top: 5%;

                i {
                    font-size: 1.6rem;
                }

                @include mixin.sm-md {
                    margin-bottom: 15%;
                }

                @include mixin.tablette {
                    margin-bottom: 15%;
                }

                @include mixin.xs-sm {
                    margin-bottom: 15%;
                }
            }

            .optionMenu {
                @include mixin.sm-md {
                    display: none;
                }

                @include mixin.tablette {
                    display: none;
                }

                @include mixin.xs-sm {
                    display: none;
                }
            }

            .footerMobile {
                @include mixin.sm-md {
                    display: flex;
                    flex-direction: column-reverse;
                }

                @include mixin.tablette {
                    display: flex;
                    flex-direction: column-reverse;
                }

                @include mixin.xs-sm {
                    display: flex;
                    flex-direction: column-reverse;
                }

            }
        }
    }

    .mentionsLegales {
        display: flex;
        justify-content: space-around;
        font-family: var(--poppins);
        color: var(--textColor);
        font-size: .9rem;
        line-height: 4rem;
    }
}