@use "../../Assets//Styles/mixin.scss" as mixin;

main{
    .container{
        width: 60%;
        
        @include mixin.l-lt {
            width: 60%;
        }

        @include mixin.md-lt {
            width: 70%;
        }

        @include mixin.sm-md {
            width: 80%;
        }

        @include mixin.tablette {
            width: 90%;
        }

        @include mixin.xs-sm {
            width: 90%;
        }

        .rappelContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 5%;
            .colonne{
                width: 20%;
                h3{
                    font-size: 1.2rem;
                    line-height: 3rem;
                }
                li{
                    line-height: 2rem;
                }
            }
        }

    }
    li{
        display: flex;
    }
}