@use "../../Assets/Styles/mixin.scss" as mixin;

.headerMobile {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 30;
    padding: 3%;

    @include mixin.l-lt {
        display: none;
    }

    @include mixin.lg-lt {
        display: none;
    }

    @include mixin.xl {
        display: none;
    }


    .bubbleMenu {
        width: 10vw;
        height: 10vw;
        background-color: var(--clair);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--boxShadow);
        border: solid .2em var(--backColor);


        @include mixin.sm-md {
            width: 15vh;
            height: 15vh;
        }

        @include mixin.tablette {
            width: 12vh;
            height: 12vh;
        }

        @include mixin.xs-sm {
            width: 8vh;
            height:8vh;        }


        .LogoMenu {
            position: inherit;
            width: 50%;
            justify-self: start;
        }
    }


    .navbarMobile {
        position: inherit;
        width: 20%;
        background-color: var(--clair);
        margin-left: 10%;
        display: flex;
        justify-content: center;
        border-radius: 2em;
        box-shadow: var(--boxShadow);
        border: solid .2em var(--backColor);

        @include mixin.sm-md {
            width: 30%;
        }

        @include mixin.tablette {
            width: 75%;
        }

        @include mixin.xs-sm {
            width: 80%;
        }

        nav {
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                list-style-type: none;
                padding: 3%;

                li {
                    .lien {
                        font-family: var(--satisfy);
                        font-size: 2.2rem;
                        line-height: 4.4rem;
                        color: var(--textColor);

                    }

                }
            }
        }
    }
}