.Admin {
    width: 100%;

    .container {
        width: 80%;
        margin-top: 3%;
        display: flex;
        justify-content: space-between;

        aside {
            width: 20%;
            padding: 3% 0;

            button {
                margin: 5% 0;
            }
        }

        section {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 2rem;
            }

            article {
                width: 100%;

                .dogList {
                    display: flex;
                    justify-content: space-between;
                    margin: 2% 3%;

                    .listItem {
                        width: 20%;
                    }

                    .listItemAge {
                        width: 10%;
                    }

                    form {
                        width: 8%;

                        .modifications {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .select {
                                width: 30%;
                            }
                        }

                        .options {
                            width: 50%;
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                }

                .choiceActivity {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 5%;
                }

                .containerBox {
                    width: 90%;
                    display: flex;
                    justify-content: space-around;
                    margin: 5% 0;

                    .left {
                        width: 30%;
                        height: 25vh;
                        overflow: hidden;
                    }

                    .right {
                        width: 60%;

                        h4 {
                            font-size: 1.3rem;
                            line-height: 3rem;
                        }

                        .certif {
                            line-height: 2.5rem;
                        }

                        .options {
                            width: 85%;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 5%;
                        }
                    }
                }
            }
        }

        .feedbackContainer {
            width: 100%;
        }
    }

    .active {
        background-color: var(--orange);

    }
}