@use "variables.scss";
@use "utils.scss";
@use "forms.scss";
@use "./mixin.scss" as mixin;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: var(--poppins);
    color: var(--textColor);
    @include mixin.lg-lt {
        font-size: 14px;
    }
    @include mixin.l-lt {
        font-size: 12px;
    }
    @include mixin.md-lt {
        font-size: 12px;
    }
    @include mixin.sm-md{
        font-size: 12px;
    }
    @include mixin.tablette{
        font-size: 12px;
    }
    @include mixin.xs-sm{
        font-size: 10px;
    }

}
img{
    display: block;
}
a{
    display: block;
    text-decoration: none;
}
