:root {
    --backColor: #BACEC1;
    --textColor: #1D3124;
    --orange: #e59560;
    --stroke: #9F6625;
    --clair: #F6F4E8;
    --poppins: 'Poppins', sans-serif;
    --satisfy: 'Satisfy', cursive;
    --boxShadow: (4px 4px 4px rgba(29, 49, 36, 0.25));
}
