main {
    .box {
        width: 35%;
        border: solid .15rem var(--orange);
        border-radius: 2em;
        padding: 2% 3%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .options {
            width: 80%;
            display: flex;
            justify-content: space-between;

            a.inactive {
                h2 {
                    font-size: 1.8rem;

                    i {
                        display: none;
                    }
                }
            }

            a.active {
                h2 {
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    text-shadow: 2px 4px 4px rgba(0,0,0,0.3);


                    i {
                        font-size: 1.8rem;
                        margin-right: 5%;
                        display: block;
                    }
                }
            }

            .right {
                width: 40%;
            }

            .left {
                width: 55%;
            }
        }

        form{
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            width: 90%;
            .oneInput{
                display: flex;
                flex-direction: column;
                margin-bottom: 2%;
                label{
                    margin-bottom: .5%;
                }
                input{
                    background-color: var(--clair);
                    border: none;
                    border-radius: .5rem;
                }
            }
            .cgu{
                display: flex;
                margin: 7% 3% 3% 0;
                label{
                    margin-right: 3%;
                    font-size: 1rem;
                }
            }
            .send{
                margin-top: 7%;
            }
            .add{
                display: flex;
                justify-content: center;
                span{
                    font-size: 1.6rem;
                    margin-right: 3%;
                }
                .btn{
                    padding: .4rem 1rem 0;
                }
            }
        }

        // p {
        //     padding: 2% 0;
        //     font-size: 1.25rem;
        //     text-align: left;
        // }

        // .sup {
        //     display: flex;
        //     align-items: center;

        //     i {
        //         margin: 5%;
        //     }

        //     p {
        //         font-size: 1.1rem;
        //         font-style: italic;
        //     }
        // }

    }
}

.feedback {
    color: indianred;
    font-size: 18px;
    font-weight: 600;
}

.feedbackGood {
    color: seagreen;
    font-size: 18px;
    font-weight: 600;
}