@use '../../Assets/Styles/mixin.scss' as mixin;
main {
    .box {
        width: 35%;
        border: solid .15rem var(--orange);
        border-radius: 2em;
        padding: 2% 3%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mixin.lg-lt {
            width: 45%;
        }
        @include mixin.l-lt {
            width: 45%;
        }
        @include mixin.md-lt {
            width: 50%;
        }
        @include mixin.sm-md {
            width: 70%;
        }
        @include mixin.tablette {
            width: 70%;
        }
        @include mixin.xs-sm {
            width: 80%;
        }


        h2{
            width: 100%;
            text-align: center;
        }
        .options {
            width: 80%;
            display: flex;
            justify-content: space-between;


            a.inactive {
                h2 {
                    font-size: 1.8rem;
                    @include mixin.sm-md {
                        font-size: 1.8rem;
                    }
                    @include mixin.tablette {
                        font-size: 1.8rem;
                    }
                    @include mixin.xs-sm {
                        font-size: 1.4rem;
                    }

                    i {
                        display: none;
                    }
                }
            }

            a.active {
                h2 {
                    font-size: 1.8rem;
                    display: flex;
                    align-items: center;
                    text-shadow: 2px 4px 4px rgba(0,0,0,0.3);
                    @include mixin.sm-md {
                        font-size: 1.8rem;
                    }
                    @include mixin.tablette {
                        font-size: 1.8rem;
                    }
                    @include mixin.xs-sm {
                        font-size: 1.4rem;
                    }
                    i {
                        font-size: 1.8rem;
                        margin-right: 5%;
                        display: block;
                    }
                }
            }

            .right {
                width: 40%;
            }

            .left {
                width: 55%;
            }
        }



        // p {
        //     padding: 2% 0;
        //     font-size: 1.25rem;
        //     text-align: left;
        // }

        // .sup {
        //     display: flex;
        //     align-items: center;

        //     i {
        //         margin: 5%;
        //     }

        //     p {
        //         font-size: 1.1rem;
        //         font-style: italic;
        //     }
        // }

    }

}
